.page {
  background-color: #90ee90;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #212121;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

.page__content {
  flex: 1;
}

.nav__container {
  display: flex;
  gap: 20px;
  margin: 20px;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.nav__link {
  color: #212121;
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
}

.nav__link_active {
  border-bottom: 2px solid black;
  font-weight: 700;
}

.page__title {
  margin: 0 0 24px;
}
