/*Expanding Bills Card*/

.bills__card-header {
  width: 100%;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: none;
  position: relative;
  background-color: whitesmoke;
}

.bills__card {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: box-shadow 0.25s ease;
  margin-top: 15px;
}

.bills__card-chev {
  font-size: 1.25rem;
  transition: transform 0.25s ease;
  margin-top: auto;
  margin-right: 50px;
  background: transparent;
  border: none;
}

.bills__card--open .bills__card-chev {
  transform: rotate(180deg);
}

.bills__card-title {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  background: transparent;
  border-style: none;
  align-items: baseline;
}

.bills__card-title_type {
  margin-bottom: 0;
  align-items: baseline;
}

.bills__card-subtitle {
  margin: 0;
  font-size: 0.8rem;
  color: #6b7280;
}
