/*Expanding Additional Bills Card*/

.additionalBills__card-header {
  width: 100%;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: none;
  position: relative;
  background-color: whitesmoke;
}

.additionalBills__card {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: box-shadow 0.25s ease;
  margin-top: 15px;
}

.additionalBills__card-chev {
  font-size: 1.25rem;
  transition: transform 0.25s ease;
  margin-top: auto;
  margin-right: 50px;
  background: transparent;
  border: none;
}

.additionalBills__card-chev--open {
  transform: rotate(180deg);
}

.additionalBills__card-title {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  background: transparent;
  border-style: none;
  align-items: baseline;
}

.additionalBills__card-title_type {
  margin-bottom: 0;
  align-items: baseline;
}

.additionalBills__card-subtitle {
  margin: 0;
  font-size: 0.8rem;
  color: #6b7280;
}

.additionalExpense__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 1px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 25px;
}
